/*
 * Author: Eugene Tsurcan
 * email: tsurcan@softreactor.com
 * 
 * Theme: Default (Basketball)
 */


// Variables
// -----------------------------------

// Colours
$black: #000000;
$white: #ffffff;

$colour-text: $white;
$colour-link: $white;


// Typography
$baseFontFamily: Arial, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 1.3;
$baseFontWeight: 400;


// Include Files
// -----------------------------------

// CSS3 Compass (http://compass-style.org/reference/compass/css3/)
@import "compass";

// HTML5 - Boilerplate (http://h5bp.com/css)
@import "h5bp";

// CSS3 Compass-Animation (https://github.com/ericam/compass-animation)
@import "animation";

// JQuery UI
@import "jquery-ui/jquery.ui.slider";


// Fonts Import
// -----------------------------------
@font-face { font-family: "Bebas"; src: url("../fonts/BEBAS___.TTF"); }
@font-face { font-family: "Rockwell"; src: url("../fonts/Rockwell-Regular.ttf"); }


/*
 * Base CSS
 * -----------------------------------
 */
@include sticky-footer(22px, unquote("#content_main"), unquote("#root_footer"), unquote("#footer"));

body { 
  font: {family: $baseFontFamily; size: $baseFontSize; weight: $baseFontWeight;} 
  line-height: $baseLineHeight; 
  color: $colour-text;
  text-align: center;
  background-color: $black;
  
  &.none-bg-back #content_main { background-image: none!important; } 
  
  &.admin-p {
    &.judges #list-game-block tbody .status .btn30_ .cont_ { text-align: center; width: 125px; }  
    
    #middle_block .two_column {
      .right_content_block { width: 155px; }
      .left_content_block { width: 723px; }
    }
    
    .grid_div table td { border-top: 0 none; border-left: 0 none; }
    
    .show_td { overflow: visible; }
  }
  
  &.admin-page {
    #menu-right-b {
      .bg_css3 { width: 137px; padding-bottom: 90px; }
      .admin-menu-right_border-b .h-title { text-transform: uppercase; font-size: 18px; color: #666666; line-height: 1.0; display: inline-block; width: 100%; text-align: center; }
    }
    
    .admin-menu-right_border-b .content-b .btn30_ { margin: 15px 0 0 0; 
      &:first-child { margin: 20px 0 0 0; }
      
      .cont_{ padding: 0; text-align: center; width: 125px; }
    }    
    
    #list-game-block { 
      table { width: 677px; }
      tbody .status .btn30_ .cont_ { width: 72px; }
    }
  }
  
  &.place-spot-popup {
    .grid_div table { border-right: 0 none; }
    .screen_show { border-right: 1px solid $white; }
    #popup-block { top: 249px; 
      .inner-main { left: 115px; }
    }
  }
  
  &.login-popup, &.play-popup, &.select-stake-popup {
    #top_profile_block .left_border, #your_balance_block .main_c .bottom_ .play_now_btn, .play_now_block__ { z-index: 100; position: relative; top: 0; left: 0; }
  }
  
  &.login-popup #popup-block { top: 50px; 
    .inner-main { padding: 3px; left: 310px; 
      .content-popup { padding: 8px 12px; 
        p { text-align: left; }
      }
    }
  }
  
  &.select-stake-popup #popup-block{ top: 460px; 
    .inner-main { left: 0; }
  }  
  
  &.select-panel-popup, &.place-spot-popup {
    .screen_show { z-index: 100; }
    .grid_div { z-index: 101; }
    #middle_block .two_column .left_content_block { *position: relative; *z-index: 100; }
  }  
  
  &.place-spot-popup #popup-block .inner-main .content-popup { padding: 8px 5px; }
  
  &.select-panel-popup #popup-block{ top: 440px; 
    .inner-main { left: 100px; 
      .content-popup { padding: 8px 80px 8px 20px; text-align: left; }
    }
  }
  
  &.play-popup, &.select-stake-popup {
    #popup-block .inner-main .content-popup { padding: 8px 60px 8px 50px; }
  }
  
  &.play-popup { 
    #middle_block .two_column .right_content_block { *z-index: 100; *position: relative; }
    #popup-block { top: 215px; 
      .inner-main { left: -25px; }
    }
  }
  
  &.end-quick-tour-popup #popup-block .inner-main .content-popup { padding: 30px 50px; }
  
  .none-bg-back #content_main { background-image: none!important; }
}

p { padding-bottom: 10px; }

i { font-style: italic; }

strong { font-weight: bold; }

a { color: $colour-link; outline: none; text-decoration: none;
  &:hover { text-decoration: underline; }
}

input, textarea { outline: none; resize: none; }


/*
 * BUTTONS CSS
 */
.btn30_ { display: inline-block; height: 30px; text-decoration: none; cursor: pointer;   
  .b_l_ { 
    display: inline-block; 
    padding: 0 0 0 5px;
    border: 1px solid #000000;
    background:  #acacac;
    @include background-image(linear-gradient(#fafafa, #acacac));
    @include border-radius(#{5px});  
  }
  
  .b_r_ { display: inline-block; padding: 0 5px 0 0; }
  
  .cont_ { 
    font: {size: 12px; weight: bold;} 
    color: #555555; 
    height: 28px; 
    line-height: 28px; 
    vertical-align: middle; 
    display: inline-block; 
    background: {position: 0 0; repeat: repeat-x;} 
    text-transform: uppercase; 
  }
  
  &.grey { font-family: $baseFontFamily; font-size: $baseFontSize; color: #555555; 
    .b_l_ { border: 1px solid #000000; background:  #acacac; @include background-image(linear-gradient(#fafafa, #acacac)); @include border-radius(#{5px}); }
  }
  
  &.green {
    .b_l_ { background:  #00a200; @include background-image(linear-gradient(#00c900, #00a200)); }
    .cont_ { color: $white; }
  }
  
  &.red {
    .b_l_ { background:  #d50000; @include background-image(linear-gradient(#fc0000, #d50000)); }
    .cont_ { color: $white; }
  }
  
  &.orange { color: $white; 
    .b_l_ { background:  #ff3c00; @include background-image(linear-gradient(#ff6300, #ff3c00)); } 
    .cont_ { color: $white; }
  }
  
  &.hover, &.active, &.grey.hover, &.grey.active {
    .b_l_ { background:  #ff3c00; @include background-image(linear-gradient(#ff6300, #ff3c00)); }
  }
}

.btn30_.hover, .orange-btn.active { color: $white!important; 
  .cont_ { color: $white; }
}



/*
 * Header CSS
 */
#header { display: inline-block; width: 100%; text-align: left;
  a {
    &.logo { display: inline-block; float: left; width: 392px; height: 62px; margin: 20px 0 0 50px; background: url(../images/logo.png) 0 0 no-repeat; }
    &.logo-2 { display: inline-block; float: left; width: 290px; height: 50px; margin: 30px 0 0 50px; background: url(../images/logo-2.png) 0 0 no-repeat; }
  }
  
  .top_menu_ { display: inline-block; width: 898px; overflow: hidden; white-space: nowrap; padding: 15px 50px 0 50px; margin: 0; font-weight: bold; text-transform: uppercase;
    li { display: inline-block; float: left; padding: 0 0 0 20px; 
      &:first-child { padding: 0; }
      
      a { font-weight: bold; text-transform: uppercase; }
    }
  }
}

#top_profile_block { 
  float: right; 
  margin: 0 50px 0 0; 
  border: 1px solid #986500; 
  border-width: 0 1px 1px 1px;
  background: #30210c; 
  @include background-image(linear-gradient(#ac8124, #30210c));
  @include border-radius(#{0 0 5px 5px});  
  
  .left_border { display: inline-block; position: relative; padding: 0 0 0 5px; }
  
  .right_border { display: inline-block; padding: 0 5px 0 0; }
  
  .main_c { height: 30px; line-height: 30px; vertical-align: middle; white-space: nowrap; 
    a { float: left; margin: 0 12px; }
    .msg_ { margin: 0 53px 0 12px; padding: 0 0 0 32px; background: url(../images/bg/your_profile/msg_icon.png) center left no-repeat; }
    .login { padding: 0 120px 0 0; background: url(../images/bg/facebook-ico.png) center right no-repeat; }
    .strip { float: left; width: 1px; height: 30px; overflow: hidden; background:  #986500; @include background-image(linear-gradient(#103708, #986500)); }
  }
  
  &.login-n-signup { border: 0 none; background:  #a1a1a1; @include background-image(linear-gradient(#fafafa, #a1a1a1)); 
    .main_c { height: 31px; 
      a { font-weight: bold; text-transform: uppercase; color: #333333; }
      .strip { @include background-image(linear-gradient(#999999, #999999)); } 
    }
  }
}

#top_block_head { 
  display: inline-block; 
  width: 898px; 
  height: 38px; 
  white-space: nowrap;
  margin: 10px 50px 0 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid #996701;
  background:  #a1a1a1;
  @include background-image(linear-gradient(#fafafa, #a1a1a1));
  @include border-radius(5px);
  
  .left_border { display: inline-block; padding: 0 0 0 4px; }
  
  .right_border { padding: 0 4px 0 0; }
  
  .main_c { height: 38px; width: 892px; 
    .title_ { 
      padding: 0 0 0 13px; 
      height: 38px; 
      line-height: 36px; 
      vertical-align: middle; 
      position: absolute; 
      top: 0; 
      left: 0; 
      z-index: 2; 
      white-space: nowrap; 
      overflow: hidden;
      font: {family: "Bebas"; size: 16px;}
      
      span, a { text-transform: uppercase; color: #555555; }
    } 
  }
}

#block_time_and_price {
  display: inline-block;
  height: 38px;
  line-height: 36px;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 3;
  
  .left_border { 
    display: inline-block; 
    position: relative; 
    border-left: 1px solid #996701; 
    background:  #ff3500;
    @include background-image(linear-gradient(#ff6500, #ff3500));
    @include border-radius(#{0 3px 3px 0});
  }
  
  .right_border { padding: 0 4px 0 0; }
  
  .main_c { width: 273px; padding: 0 8px 0 14px; 
    .time_, .num-state-game-judge { display: inline-block; float: left; padding: 0 9px 0 0; height: 38px; }    
    .num-state-game-judge .num { padding: 0 5px 0 0; }
    .price_ { float: right; height: 38px; }
    sub { position: relative; top: -2px; }
    .t_ { font-family: "Bebas"; font-size: 16px; text-transform: uppercase; padding: 0 3px 0 0; }
    .info_ { font-size: 12px; }
    .currency { font-size: 18px; }
  }
}


/*
 * Main CSS
 */
#content_main { display: inline-block; width: 1000px; background: url(../images/bg_main_basket.jpg) top center no-repeat transparent; }

#middle_block { display: inline-block; width: 100%; padding: 20px 0 0 0; 
  .two_column { padding: 0 50px 0 50px; 
    .left_content_block { float: left; width: 578px; padding: 0 0 20px 0; }
    .right_content_block { float: right; width: 300px; padding: 0 0 20px 0; 
      .section-b-right { margin: 20px 0 0 0; 
        &:first-child { margin: 0; }
      }
    }
  }
}

#game_screen_main { display: inline-block; position: relative; padding: 0 26px 1px 0; background: url(../images/bg/border_right_game_screen.jpg) top right repeat-y;
  .border_white_top_ { display: inline-block; position: absolute; top: 0; right: 0; width: 26px; height: 1px; background-color: $white; }
  .border_white_bottom_ { display: inline-block; position: absolute; bottom: 0; right: 0; width: 26px; height: 1px; background-color: $white; }
}

#game_screen_main_zoom { display: inline-block; position: relative; padding: 0 26px 0 0; background: url(../images/bg/border_right_game_screen.jpg) top right repeat-y;
  .border_white_top_ { display: inline-block; position: absolute; top: 0; right: 0; width: 26px; height: 1px; background-color: $white; }
  .border_white_bottom_ { display: inline-block; position: absolute; bottom: 0; right: 0; width: 26px; height: 1px; background-color: $white; }
}

#your_balance_block {
  display: inline-block;
  width: 298px;
  border: 1px solid #996701; 
  background:  #30210c;
  @include background-image(linear-gradient(#ac8124, #30210c));
  @include border-radius(5px);
  
  .left_border { display: inline-block; padding: 0 0 0 5px; }
  .right_border { display: inline-block; padding: 0 5px 0 0; }
  .main_c { display: inline-block; width: 288px; height: 78px; overflow: hidden; 
    .top_ { white-space: nowrap; overflow: hidden; padding: 8px 8px 0 10px; }
    .title_ { float: left; text-transform: uppercase; font: {family: "Bebas"; size: 18px;} }
    .your_balance_val { float: right; font-size: 20px; }
    .bottom_ { position: relative; height: 30px; margin: 8px 5px 0 5px; 
      .play_now_btn { float: left; 
        .cont_ { padding: 0; width: 122px; }
      }
      .add_funds_btn { float: right; position: absolute; right: 0; top: 0; 
        .cont_ { padding: 0; width: 122px; }
      }
    }
  }
}

.brow_block_st { display: inline-block; position: relative; padding: 5px 0; border: 1px solid #996701; background: #291c0a; @include border-radius(5px);
  .main_content { display: inline-block; position: relative; padding: 0 4px; }  
  .main_c { display: inline-block; position: relative; 
    .main_c_l { position: absolute; }
  }
}

#news_block { text-align: left; display: inline-block; width: 100%; font-family: $baseFontFamily; font-size: 12px; color: $white; 
  .main_c { width: 284px; padding: 0 0 0 6px; }
  .brow_block_st { padding: 10px 0 0 0; }
}

#comments_block { display: inline-block; width: 100%; margin: 18px 0 0 0; }

.grey_block_css3 { background-color: #EEEEEE; @include border-radius(4px); color: #6A7287; }

#placed_main_block { overflow: hidden; @include border-radius(5px);
  .bg_css3 { display: inline-block; width: 278px; margin: 20px 0 0 0; padding: 12px 12px 12px 8px; }
  .tabs_placed {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    width: 278px;    
    font: {family: $baseFontFamily; weight: bold; size: 12px;}
    color: #545454;
    
    td {
      &.cross { width: 33px; padding: 0 8px 0 0; 
        div { height: 32px; width: 32px; display: inline-block; background-position: 0 0; background-repeat: no-repeat; }
      }
      
      &.currency { width: 32px; padding: 0 9px 0 0; 
        div { height: 32px; line-height: 32px; vertical-align: middle; text-align: center; width: 32px; display: inline-block; background: url(../images/bg/placed/currency_img.png) 0 0 no-repeat; }
      }
      
      &.wins { width: 60px; padding: 0 8px 0 0; }
            
      &.placed { width: 60px; padding: 0 8px 0 0; }
      
      &.left { width: 60px; }
      
      &.placed, &.left { text-align: left; }
       
      &.wins, &.placed, &.left {
        div.l_b_ {
          display: inline-block;
          padding: 0 0 0 2px;
          border: 1px solid #9a9a9a;
          background:  #d1d1d1;
          @include background-image(linear-gradient(#fcfcfc, #d1d1d1));
          @include border-radius(5px);
        }
        div.r_b_ { display: inline-block; padding: 0 2px 0 0; }
        div.main_c { display: inline-block; width: 52px; height: 30px; line-height: 30px; text-align: center; overflow: hidden; vertical-align: middle; }
      }
    }
    tr {
      &.yellow td.cross div { background-image: url(../images/bg/placed/yellow_placed_img.png); }
      &.red td.cross div { background-image: url(../images/bg/placed/red_placed_img.png); }
      &.green td.cross div { background-image: url(../images/bg/placed/green_placed_img.png); }
      &.blue td.cross div { background-image: url(../images/bg/placed/blue_placed_img.png); }
      &.pink td.cross div { background-image: url(../images/bg/placed/pink_placed_img.png); }
      
      &.place_tr {
        &.hover, &.active {
          td.currency div { background-position: 0 -32px; color: $white; }
          td.wins, td.placed, td.left { 
            div.l_b_ { border: 1px solid #ff6600; background:  #ff3c00; @include background-image(linear-gradient(#ff6300, #ff3c00)); }
            div.main_c { color: $white; height: 30px; line-height: 30px; width: 52px; }
          }
        }
      } 
      &.strip td { cursor: default; height: 5px!important; line-height: 1px!important; font-size: 1px; overflow: hidden; }
    }
    thead { 
      td.cross { text-align: left; }
      td.currency, td.wins, td.placed, td.left { text-align: center; }
    }
    tbody tr.place_tr td { cursor: pointer; height: 32px; line-height: 0; vertical-align: middle; text-align: left; }
  }
  .tabs_placed, .tabs_placed tr, .tabs_placed td { padding: 0; margin: 0; border: 0 none; }
  
}

.bg_css3 { border: 1px solid $white; background:  #cdcdcd; @include background-image(linear-gradient(#ffffff, #cdcdcd)); @include border-radius(5px); }

#multisport-block { text-align: left;
  .game-list-b { 
    li { width: 225px; float: left; 
      a { display: block; overflow: hidden;
        text: {decoration: none; transform: uppercase;}
        font: {family: "Bebas"; size: 28px;}
        @include text-shadow(#{-1px -1px 0 $black});
        position: relative;
        line-height: 1.2;
        cursor: pointer;
        
        div { cursor: pointer; }
        .title { padding: 16px 0 8px 15px; background:  $black; @include background-image(linear-gradient(#666666, #000000)); }
        .img { float: left; height: 225px; width: 225px; }
        .hover-l { position: absolute; top: 0; left: 0; width: 100%; @include opacity(0); }
      }
      
      &.football a { color: #0099FF; 
        .title { @include border-radius(5px 0 0 0); }
        .img { background: url(../images/bg/football-img.png); }
        .hover-l { color: $white; @include box-shadow(#{-1px -1px 0 #003366});
          .title { background:  #003366; @include background-image(linear-gradient(#0099FF, #003366)); }
          .img { background-color: #003366; }
        }
      }
      &.cricket a { color: #999999; 
        .img { background: url(../images/bg/cricket-img.png); }
        .hover-l { color: $white; @include box-shadow(#{-1px -1px 0 #666666});
          .title { background:  #666666; @include background-image(linear-gradient(#FFFFFF, #666666)); }
          .img { background-color: #666666; }
        }
      }
      &.tennis a { color: #C09D55; 
        .img { background: url(../images/bg/tennis-img.png); }
        .hover-l { color: $white; @include box-shadow(#{-1px -1px 0 #663300});
          .title { background:  #663300; @include background-image(linear-gradient(#CC9966, #663300)); }
          .img { background-color: #663300; }
        }
      }
      &.golf a { color: #009933; 
        .title { @include border-radius(0 5px 0 0); }
        .img { background: url(../images/bg/golf-img.png); }
        .hover-l { color: $white; @include box-shadow(#{-1px -1px 0 #003300});
          .title { background:  #003300; @include background-image(linear-gradient(#009933, #003300)); }
          .img { background-color: #003300; }
        }
      }
    }
  }
  
  .descript {
    white-space: nowrap;
    text-align: center;
    @include border-radius(0 0 5px 5px);
    color: #333333;
    font: {family: "Bebas"; size: 38px;}
    text-transform: uppercase;
    @include text-shadow(#{1px 1px 0 #ffffff});
    line-height: 1.2;
    padding: 10px 0 12px 0;
    background:  #a1a1a1;
    @include background-image(linear-gradient(#fafafa, #a1a1a1));
  }
}

#right_menu_game {
  display: none;
  height: 395px;
  width: 181px;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid $white;
  background:  #30210c;
  @include background-image(linear-gradient(#ac8124, #30210c));
  
  .content_main { display: inline-block; width: 100%; text-align: left; 
    .msg_double_click { padding: 9px 8px 0 8px; 
      table { width: 165px; height: 80px; overflow: hidden; font-size: 10px; line-height: 1.1; text-transform: uppercase; 
        strong { display: inline-block; font-size: 11px; padding: 0 0 3px 0; }
        td {
          &.border_left { width: 15px; height: 80px; background: url(../images/bg/msg_double_click_left_b.png) no-repeat; }
          &.border_right { width: 5px; height: 80px; background: url(../images/bg/msg_double_click_right_b.png) no-repeat; }
          &.bg_ { width: 145px; height: 80px; vertical-align: middle; text-align: left; background: url(../images/bg/msg_double_click_bg.png) repeat-x; }
        }
      }
    }
    .section {
      display: inline-block;
      width: 163px;
      height: 50px;
      overflow: hidden;
      margin: 10px 8px 0 8px; 
      padding: 0;   
      border: 1px solid $white;    
      background:  #cdcdcd;
      @include background-image(linear-gradient(#ffffff, #cdcdcd));
      @include border-radius(5px);
      
      .left_border { display: inline-block; padding: 0 0 0 4px; width: 159px; }
      .right_border { display: inline-block; padding: 0 4px 0 0; width: 155px; }
      .main_c { display: inline-block; width: 155px; height: 50px; overflow: hidden; 
        .info_ { width: 145px; display: inline-block; margin: 0 5px 0 5px; text-align: left; padding: 10px 0 0 0; 
          label { display: inline-block; width: 100%; font: {size: 12px; weight: bold;} color: #555555; text-transform: uppercase; }
          .bottom_info { display: inline-block; width: 100%; font: {size: 15px; weight: bold;} color: #555555; text-transform: uppercase; }
        }        
      }
    }
    .btn_screen_game { display: inline-block; width: 165px; padding: 10px 8px 0 8px; }
  }
}

#btn_screen_game .cont_ { padding: 0; width: 155px; text-align: center; }

#your_stake_block {
  .info_ { background: {position: right 10px; repeat: no-repeat;} }
  &.yellow .info_ { background-image: url(../images/bg/placed/yellow_placed_img.png); }
  &.red .info_ { background-image: url(../images/bg/placed/red_placed_img.png); }
  &.green .info_ { background-image: url(../images/bg/placed/green_placed_img.png); }
  &.blue .info_ { background-image: url(../images/bg/placed/blue_placed_img.png); }
  &.pink .info_ { background-image: url(../images/bg/placed/pink_placed_img.png); }
}

#tab_positining_ { display: inline-block; width: 165px; padding: 10px 8px 0 8px;
  table, table tr, table td { cursor: pointer; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
  table { width: 163px; height: 117px; border-bottom: 1px solid $white; border-right: 1px solid $white; 
    td { border-top: 1px solid $white; border-left: 1px solid $white; vertical-align: middle; 
      &.curr_pos { background-color: #FF3C00; text-align: center; text-transform: uppercase; font-size: 10px; 
        span { position: relative; }
      }
    }
  }
}

.grid_div { position: absolute; top: 0; left: 0;
  table { border-right: 1px solid $white;
    td { border: {top: 1px solid $white; left: 1px solid $white;} vertical-align: middle; cursor: pointer; }
  }
}

.screen_show { position: relative; overflow: hidden; padding: 0 0 1px 0; background: $white;
  img.main_game_img { position: absolute; top: 0; left: 0; width: 552px; height: 396px; }
  .borders_ { position: absolute; top: 0; left: 0; border: 1px solid #ffffff; border-width: 1px 0 1px 1px; -moz-user-select: none; -khtml-user-select: none; user-select: none; padding: 0 0 1px 0; }
}

.show_td { display:block; position: relative; overflow: hidden; background-color: transparent;
  .spot_dot { position: absolute; top: 0; left: 0; display: inline-block; }
  .bg_white_ { display: inline-block; position: absolute; top: 0; left: 0; background-color: $white; z-index: 30; @include opacity(0); }
}

#list_num_funds { display: inline-block; width: 276px; padding: 0 0 0 4px; overflow: hidden; text-align: center; 
  li.row_, li.submit_ { display: inline-block; width: 100%; text-align: center; padding: 0 0 10px 0; white-space: nowrap; 
    span:first-child { display: inline-block; }
  }
  li.submit_ { padding: 0; 
    a {
      float: left;
      margin: 0 0 0 10px;
      width: 125px;
      height: 30px;    
      line-height: 30px;
      text: {align: center; transform: uppercase; }
      font: {size: 12px; weight: bold; }
      color: #555555;
      @include border-radius(5px);
      overflow: hidden;    
      
      &:first-child { margin: 0; }  
      .main { cursor: pointer; display: inline-block; border: 1px solid #9A9A9A; width: 123px; height: 28px; @include border-radius(5px); background: none none; }     
    }
  }
  li.row_ { 
    .td_funds { float: left; margin: 0 0 0 10px; width: 80px; height: 80px; line-height: 80px; text-align: center;color: #555555; font: {size: 20px; weight: bold;} 
      .main { cursor: pointer; display: inline-block; border: 1px solid #9A9A9A; width: 78px; height: 78px; background: none none; @include border-radius(5px); }
      &:first-child { margin: 0; }
    }
  }
  
  li.row_ .td_funds .main:hover, li.row_ .td_funds.active .main, li.submit_ a .main:hover { 
    color: $white;
    border: 1px solid #FF6600;
    background:  #ff3c00;
    @include background-image(linear-gradient(#ff6300, #ff3c00));
  }
}

.ui-slider-handle { cursor: pointer!important; }

#spots { position: absolute; top:0; left: 0; overflow: hidden; 
  .spot_dot { position: absolute; top:0; left: 0; display: inline-block; padding: 5px; 
    .dot_ { position: relative; 
      div { position: absolute; top: 0px; left: 0px; height: 1px; width: 1px; background-color: $white; display: inline-block; z-index: 5; }
    } 
    img { display: block; }
  }
}

.summary_block { display: inline-block; width: 100%; height: 100%; position: relative;
  div {
    img { display: inline-block; width: auto; left: 0; top: 0; position: absolute; }
    span { display: inline-block; top: 0; left: 0; width: 100%; text-align: center; position: absolute; z-index: 5; }
  }
  .mn_ { display: inline-block; position: relative; }
  .summ {
    display: none;
    width: 30%!important;
    height: 30%!important;
    position: absolute;    
    text-align: center;
    vertical-align: middle;
    
    &.pink { top: 33.33%; left: 33.33%; }
    &.orange { top: 33.33%; left: 33.33%; }
    &.green { top: 2%; right: 2%; }
    &.blue { top: 2%; left: 2%; }
    &.red { bottom: 2%; right: 2%; }
    &.yellow { bottom: 2%; left: 2%; }
  }
}

#slider_stake_big { display: block; cursor: pointer; }
#slider_stake { display: none; cursor: pointer; }

.slider_vals_block {
  .ui-corner-all { @include border-radius(2px); }
  .ui-widget-content { background: none $white; border: 2px solid #FF3900; }
  .ui-slider-horizontal { height: 1px; }
  .ui-widget-header { background: none #FF6600; }
  .ui-state-default, .ui-widget-content .ui-state-default { @include border-radius(4px); background: none $white; border: 1px solid #CFCFCF; }
  .ui-slider-horizontal .ui-slider-handle { top: -6px; }
  .ui-slider .ui-slider-handle { height: 10px; }
}

.switch_btn_main {
  display: inline-block;
  white-space: nowrap;
  height: 18px;
  width: 56px;
  overflow: hidden;
  background: url(../images/bg/swithc_btn.png) 0 0 no-repeat;
  
  &.on_active { background-position: 0 -18px; }
  div { @include opacity(0); cursor: pointer; float: left; height: 18px; width: 28px; background: $white; }
}

#spots_judges { position: absolute; top: 0; left: 0; }

#menu-right-b { display: inline-block; width: 100%; overflow: hidden; @include border-radius(5px); 
  .bg_css3 { display: inline-block; width: 282px; padding: 12px 8px 12px 8px; text-align: left; }
}

.jspVerticalBar { width: 22px; background: none transparent; }

.jspTrack { border: 1px solid #0099FF; background: #003366; @include border-radius(10px); width: 20px; }

.jspContainer { padding-bottom: 2px!important; }

.jspDrag { background: url(../images/bg/arrow-scroll-bg.png) 0 0 no-repeat transparent; }

.scroll-pane { outline: none!important; }

.for_opacity_hide td .show_td { background-color: $black; @include opacity(0.45); }
.for_opacity_show td .show_td { 
  background-color: transparent !important; 
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{100})")!important;
  opacity: 1!important;
}


/*
 * Footer CSS
 */
#footer { padding: 0 50px 0 50px; text-align: left; font-size: 12px; width: 900px; margin: 0 auto;
  .copyright { float: left; }
  .terms-conditions-b { float: right; white-space: nowrap; text-align: left; font-family: Verdana; font-size: 9px; line-height: 12px; vertical-align: middle; 
    li { float: right; }
  }
}

#root_footer { padding-top: 30px; }


/*
 * Special Classes
 */
.clearfix { @include micro-clearfix; }

.replace        { @include hide-text; }
.replace-right  { @include hide-text(right); }

.left   { @include float-left; }
.right  { @include float-right; }


/*
 * h5bp-chromeframe
 */
@include h5bp-chromeframe;


/*
 * Print CSS
 * -----------------------------------
 */
@media print {}


/*
 * Style overrides for IE6-8
 * http://jonikorpi.com/leaving-old-IE-behind/
 */
.lt-ie9 {
  
}


